SERVER_HOST=0.0.0.0
SERVER_PORT=8080
CKB_NETWORK=testnet
CKB_RPC_URL=
CKB_INDEXER_URL=
DEFAULT_FEE_RATE=1000

# Required script config for xUDT
TESTNET_XUDT_CODE_HASH=
TESTNET_XUDT_HASH_TYPE=type
TESTNET_XUDT_TX_HASH=
TESTNET_XUDT_INDEX=
TESTNET_XUDT_DEP_TYPE=code

# Testnet secp256k1 lock dep config
TESTNET_SECP256K1_CODE_HASH=
TESTNET_SECP256K1_HASH_TYPE=type
TESTNET_SECP256K1_TX_HASH=
TESTNET_SECP256K1_INDEX=
TESTNET_SECP256K1_DEP_TYPE=dep_group
